{
  "debug": false,
  "token": "here_you_put_your_token",
  "prefix": ".",
  "daemon": {
    "port": 6060
  },
  "metrics": {
    "coinUnits": 1000000,
    "blockTargetInterval": 120
  },
  "wallet": {
    "address": "your_wallet_address",
    "syncInterval": 60,
    "rfcTimeout": 5,
    "mixins": 5,
    "port": 6061,
    "optimize": {
      "interval": 24,
      "execPath": "c:\\Projects\\conceal-xbot\\wallet\\optimizer.exe"
    }
  },
  "db": {
    "filename": "ccxbot.db"
  },
  "restrictions": {
    "minTipAmount": 1,
    "minRainAmount": 1,
    "minGiveawayAmount": 1
  },
  "giveaways": {
    "channel": "channel ID"
  },
  "rain": {
    "exclusions": {
      "channel": ["channel 1 id", "channel 2 id"]
    }
  },
  "social": {
    "channel": "twitter channel ID"
  },
  "mining": {
    "channels": ["mining-chat channel ID", "gpu-tuning channel ID"]
  }
}